<html>
<head>
  <script src="rccyukari.js" type="text/javascript"></script>
  <!-- will load CSS  -->
  <title>部室のゆかりさん</title>
</head>
<body>
  <form id="form">
    <input type="text" id="send_text">
    <input type="submit">
  </form>

  <ul id="log-area">
    <!-- log area  --> 
  </ul>
</body>
</html>
